.header {
  position: sticky;
  top: 0;
  padding: 0 var(--size-6);
  z-index: 100;
}

.headerOpen {
  background-color: white;
}

.headerClosed {
  background-color: var(--color-primary-100);
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.menuBtn {
  cursor: pointer;
}
