@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  background-color: var(--color-secondary-50);
  min-height: 100vh;
  min-width: 640px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-50: #e1f7f6;
  --color-primary-100: #b4ebe6;
  --color-primary-200: #85ded7;
  --color-primary-300: #56d0c4;
  --color-primary-400: #34c3b5;
  --color-primary-500: #20b6a6;
  --color-primary-600: #1ca898;
  --color-primary-700: #199786;

  --color-secondary-50: #f6f0f0;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.6rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  color: #252525;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.custom-swiper .swiper-button-next {
  right: 10px; /* 버튼 위치 조정 */
  color: var(--color-grey-400);
}

.custom-swiper .swiper-button-prev {
  left: 10px; /* 버튼 위치 조정 */
  color: var(--color-grey-400);
}

.custom-swiper .swiper-pagination-bullet {
  background-color: var(--color-grey-500); /* 기본 색상 */
  opacity: 0.5; /* 비활성 상태 투명도 */
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: var(--color-grey-700); /* 활성 상태 색상 */
  opacity: 1; /* 활성 상태 투명도 */
}
