@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.container {
  background-color: var(--color-bg);
  min-height: 100vh;
  min-width: 640px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

body {
  --color-grey-50: #f5f5f5;
  --color-grey-100: #e9e9e9;
  --color-grey-200: #d9d9d9;
  --color-grey-300: #c4c4c4;
  --color-grey-400: #9d9d9d;
  --color-grey-500: #7b7b7b;
  --color-grey-600: #555555;
  --color-grey-700: #434343;
  --color-grey-800: #262626;

  --color-primary-50: #e2f3ff;
  --color-primary-100: #b7e0ff;
  --color-primary-200: #89cdfe;
  --color-primary-300: #59b8fc;
  --color-primary-400: #2fa9fc;
  --color-primary-500: #009afa;
  --color-primary-600: #008cec;
  --color-primary-700: #007ad9;
  --color-secondary-800: #0069c7;
  --color-secondary-900: #004ba8;

  --color-secondary-50: #e8fbef;
  --color-secondary-100: #c7f4d7;
  --color-secondary-200: #a3edbe;
  --color-secondary-300: #78e7a3;
  --color-secondary-400: #56df8e;
  --color-secondary-500: #30d77a;
  --color-secondary-600: #26c76f;
  --color-secondary-700: #18b361;
  --color-secondary-800: #0ca156;
  --color-secondary-900: #008040;

  --color-bg: #f7f7f7;
  --color-com-bg: #313030;
  --color-grey-bg: #f5f6f7;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-warning-100: #fcfac7;
  --color-warning-500: #f6dc43;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.6rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  color: #252525;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.custom-swiper .swiper-button-next {
  right: 10px; /* 버튼 위치 조정 */
  color: var(--color-grey-400);
}

.custom-swiper .swiper-button-prev {
  left: 10px; /* 버튼 위치 조정 */
  color: var(--color-grey-400);
}

.custom-swiper .swiper-pagination-bullet {
  background-color: var(--color-grey-500); /* 기본 색상 */
  opacity: 0.5; /* 비활성 상태 투명도 */
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: var(--color-grey-700); /* 활성 상태 색상 */
  opacity: 1; /* 활성 상태 투명도 */
}

.inputUnset,
.textareaUnset,
.buttonUnset {
  all: unset;
}

.textareaCustom {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.checkboxCustom {
  position: absolute;
  pointer-events: none;
}

.inputCustom {
  display: block;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
}

/* Webkit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
